.wrapper {
    // mặc định là 60px
    // nếu muốn thay đổi đó là 70px 
    // height: var( --default-layout-header-height, 70px);
    height: var( --default-layout-header-height);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
     
}